
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  /* background-color: #333; */
  /* font-family: Arial, Helvetica, sans-serif;  */
  /* background-color: #333; */
}


header {
  background-color: #2e2e2e; 
  /* background-color: ; */
  padding: 20px;
  color: red;
  /* font-family: Arial, Helvetica, sans-serif; */
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #7B3f00;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px; 
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s linear;
}

a:hover {
  color: orange;
  transition:  0.5s ;
}


.sec {
  /* background: url(/assets/IMG-20250302-WA0077.png); */
  background: url(/assets/WhatsApp\ Image\ 2025-08-24\ at\ 14.35.56_07bd07da.jpg);
  background-size: cover;
  background-position-y: center;
  height: 100%;    
  background-repeat: no-repeat;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  color: #FFF !important;
}


h2 {
  font-size: 70px;
  font-weight: bold;
}

.forum {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.click {
  text-decoration: none;
  background: #7B3f00;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  transition:  0.5s;
  color: #fff;
  outline: none;
  font-size: 18px; 
  margin-top: 80px;
}

.click:hover {
  color: #FFF;
  background: none;
  border: 2px solid #7B3f00;
  transition:  0.5s ;
  font-weight: bold;
}

.About {  
  /* justify-content: center; */
  background-color: #fff;
  padding: 20px;
  color: black;
  line-height: 28px;
  align-items: center;
} 

.value {
  display: flex; 
  flex-direction: row-reverse;
  gap: 20px; 
}

.About img {
  width: 100%;
  border-end-end-radius: 40px;
}

.line {
  border-left: 3px solid black;
}
.text-box {
  width: 100%;
}
.text-box h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
} .text-box p {
  font-size: 18px;
  font-weight: larger;
  margin-bottom: 5px;
}

.importance {
  font-size: 17px;
  font-weight: larger;
} 


 


                                                        /* registration  */
form {
  /* background: url(/assets/alps-3010323_1280\ \(1\).jpg); */
  background: url(/assets/alps-3010323_1280\ \(1\).jpg);
  height: 180vh;
  padding: 25px;
  background-repeat: no-repeat;
  text-align: center;
  text-align: 2;
  /* padding-bottom: 0px; */
  font-family: Arial, Helvetica, sans-serif;
}

.tor {
  color: #7B3f00;
}

h1 {
  color: rgb(233, 102, 102);
  font-weight: bold;
  padding-bottom: 10px;
}

form p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(233, 102, 102);
  padding-bottom: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

label {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(233, 102, 102);
  /* color: black !important; */
  /* color: #7B3f00; */
}

input {
  padding: 20px 90px 20px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  /* font-size: 40px; */
}

::placeholder {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

select {
  padding: 20px 90px 20px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.submit {
  display: inline-block;
  margin: 20px;
}

.clicked {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  /* border-color: red; */
  background: #7B3f00;
  color: white;
}

.clicked:hover {
  color: #7B3f00;
  padding: 20px 70px; 
  border: 2px solid #7B3f00;
  transition: 0.5s;
  background: #fff;
}



 @media (max-width: 480px) {
  header {
    padding: 0px;
  } nav  ul{
    gap: 5px;
  } .logo {
    font-size: 15px;
    padding: 5px;
    /* width: 200px; */
  } li a {
    font-size: 10px;
  }

  .sec {
    /* background-color: skyblue;  */
    background-position-x: center;
  } .sec h2 {
    font-size: 35px;
    color: white !important;
    color: #000;
  } .sec p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  } .sec .click {
    font-size: 8px;
    font-weight: bold;
    padding: 5px;
    /* border: none; */
    margin-top: 10px;
  /* } .sec .click:hover {
    color: #333; */
  } nav  li a {
    padding-left: 3px;
  } .value {
    display: flex;
    flex-direction: column;
  } .img img  {
    height: 100%;
    /* width: 100%; */
    border-end-end-radius: 20px;
  } .text-box {
    margin-top: -20px;
  } .text-box p {
    font-size: 12px;
    font-weight: bold;
  } .text-box h3 {
    font-size: 20px;
  } .About {
    margin-top: 0px;
  } .About img {
    width: 100%;
  } .importance h3 {
    font-size: 19px;
    font-weight: bold;
    width: 200px;
  } .importance ul {
    font-size: 12px;
    font-weight: bold;
  }




  form {
    background-image: url(/assets/alps-3010323_1280\ \(1\).jpg);
    height: 100%;
  }form h1 {
    font-size: 15px;
    padding: 5px;
    /* margin: 0px; */
  } form p {
    font-size: 10px;
    font-weight: bold;
  } .input-container {
    margin: 5px;
    /* display: flex;
    flex-direction: column; */
  } input {
    padding: 5px 20px ;
    font-size: 10px;
  } label {
    font-size: 10px;
  } ::placeholder {
    font-size: 10px;
  } select {
    font-size: 10px;
    padding: 5px 40px;
    /* padding: 5px 10px; */
  } 
  option {
    font-size: 10px;
    font-weight: bold;
  } select {
    padding: 5px 10px;
  } .clicked {
    padding: 9px 40px;
    font-size: 10px;
  } .clicked:hover {
    color: #7B3f00;
    padding: 10px 50px; 
    border: 1px solid #7B3f00;
    transition: 0.5s;
    background: #fff;
  } 
}

 @media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 0px;
  } nav ul {
    gap: 5px;
  } .logo {
    font-size: 15px;
    padding: 5px;
  } nav li a {
    font-size: 10px;
  } .sec {
     margin-bottom: 0px; 
     color: #fff;
     background-position-x: center;
  } .sec h2 {
    font-size: 40px;
  } .sec p {
    font-size: 20px;
  } .sec button {
    padding: 9px ;
    font-size: 6px;
    font-weight: bold;
  } .click {
    margin-top: 25px;
  } .value {
    display: flex;
    flex-direction: column;
  } .value p {
    font-size: 13px;
    /* width: 730px; */
  } .value h3 {                          
    font-size: 20px;
  } .importance h3 {
    font-size: 20px;
  } .importance ul {
    font-size: 13px;
  }.About img {
    border-end-end-radius: 40px;
    transition: linear 2s;
  } .about-img:hover {
    width: 50%;
    transition: linear 2s;
  }




form {
  height: 110vh;
}form h1 {
    font-size: 20px;
  } form p {
    font-size: 15px;
  } label {
    font-size: 15px;
    font-weight: bold;
  } ::placeholder {
    font-size: 10px;
    font-weight: bold;
  } input {
    font-size: 12px;
    padding: 5px 15px;
  } select {
    font-size: 12px;
    padding: 5px 20px;
  } option {
    font-size: 15px;
    font-size: bold;
  } select {
    padding: 5px 1px;
  } .clicked {
    font-size: 10px;
    padding: 5px 20px;
    transition: 0.5s;
  } .clicked:hover {
    color: #7B3f00;
    padding: 5px 40px; 
    border: 1px solid #7B3f00;
    transition: 0.5s;
    background: #fff;
  }
}  

@media (min-width: 767px) and (max-width: 990px) {
  header {
    padding: 0px;
  } nav ul {
    gap: 10px;
  } .logo {
    font-size: 20px;
  } nav li a {
    font-size: 13px;
  } 

  .sec {
    background-position-x: center;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
  } .sec h2 {
    font-size: 50px;
    color: white;
  } .sec p {
    font-size: 25px;
    color: #000;
  } .sec button {
    margin: 20px;
    padding: 5px ;
    font-size: 10px;
  } 

  .value {
    display: flex;
    flex-direction: row;
  } .value img {
    align-items: last baseline;
    width: 100%;
    height: 100%;
  } .text-box {
    margin-top: 10px;
  } .text-box h3 {
    font-size: 23px;
  } .text-box p {
    font-size: 15px;
    width: 500px;
    /* width: 750px; */
  } .importance ul {
    font-size: 15px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  header {
    padding: 2px;
  } .logo {
    font-size: 20px;
    text-align: center;
  } nav ul {
    padding: 5px;
    font-size: 10px;
  } nav a {
    font-size: 20px;
  }

  .sec h2{
    font-size: 25px;
  } .sec p {
    font-size: 20px;
  } .sec button {
    padding: 10px 25px;
    font-size: 10px;
    margin-top: 20px;
  }

  /* .line {
     display: none; 
  }  */
  .value {
    display: flex;
    gap: 10px;
    color: #000;
  } .value img {    
    width: 100%;
    /* height: 100%; */
  } .text-box p{
    font-size: 13px;
    width: 100%;
  } .importance ul {
    font-size: 15px;
  }
}

